<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<h1>Mortgage Loan Calculater</h1>
		<div class="formContainer">
			<form action="/calculateLoan" method="POST" class="mortgageCalculator--form">
				Loan Amount: 
				<input type="number" step=".01" name="loanAmout" id="loanAmount" />
				Loan Term:
				<input type="number" step=".01" name="loanTerm" id="loanTerm" />
                Interest Rate: 
				<input type="number" step=".01" name="interestRate" id="interestRate" />
				<input type="submit" value="Submit" />
			</form>

		</div>
	</body>
</html>